._tooltip {
    position: absolute;
    border-radius: 5px;
    padding: 10px;
    background: black;
    color: white;
}

._tooltip:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-right: solid 8px;
    border-top: solid 8px transparent;
    border-bottom: solid 8px transparent;
    right: 100%;
    color: black;
}