._tooltip {
  position: absolute;
  z-index: 9999;
  background: #303133;
  color: #fff;
  font-size: 12px;
  border-radius: 5px;
  padding: 10px;
}

._tooltip:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-right: solid 8px;
  border-top: solid 8px transparent;
  border-bottom: solid 8px transparent;
  right: 100%;
  color: #303133;
}
